#maindiv {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  /*cursor: move;*/
}

#settingsbutton {
  margin-top: 10px;
}

#verticalradialbuttons {
  margin-top: 50px;
  z-index: 999;
}

#fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

#treemaker {
  border: 3px solid lightgray;
  height: 70vh;
  /*height: 500px*/
  width: 60vw;
  margin-top: 10px;
}