#maindiv {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  cursor: move;
}

#blankspace {
  padding-top: 100px;
}

#treemaker {
  border: 3px solid lightgray;
  height: 500;
  width: 500;
}