html,
body {
  width: 100%;
  height: 100%;
}

.maindiv {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  /*cursor: move;*/
}

.settingsbutton {
  margin-top: 10px;
}

.verticalradialbuttons {
  margin-top: 0px;
}

.fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 40px;
}

.btn-group {
    width: 90%;
}

.btn {
  background-color: #33373d;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  color: white;
}

.navbar {
  top: 10vh;
  background-color: #33373d;
  height: 50px;
  position: absolute;
  z-index: 100;
}

.btn-group-vertical {
  position: absolute;
  width: 150px;
  background-color: rgba(210, 118, 118, 0.00);
}

.tnt_groupDiv {
  margin: auto;
}

#brand {
  position: absolute;
  text-align: center;
  right: 10px;
  font-size: 20px;
}

#stringInput {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 0.8;
}

#fileFormLabel {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  background-color: #33373d;
  border-color: #33373d;
  color: #FF6A13;
}

#branchWidthInput {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 0.8;
}

#colorPicker {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 0.8;
}