html,
body {
  width: 100%;
  height: 100%;
}

.maindiv {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  /*cursor: move;*/
}

.settingsbutton {
  margin-top: 10px;
}

.verticalradialbuttons {
  margin-top: 0px;
}

.fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 40px;
}

.btn {
  background-color: #33373d;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  color: white;
}

.navbar {
  top: 10vh;
  background-color: #33373d;
  height: 50px;
}

#brand {
  position: absolute;
  text-align: center;
  right: 10px;
  color: white;
  font-size: 20px;
}

#stringInput {
  position:absolute;
  left:50%;
  top:50%;
}

#stringSubButton {
  position: absolute;
  left: 50%;
  top: 40px;
}