html,
body {
  width: 100%;
  height: 100%;
}

.settingsbutton {
  margin-top: 10px;
}

.fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 40px;
}

.btn-group {
    width: 90%;
}

.btn {
  background-color: #33373d;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  color: white;
}

.navbar {
  top: 10vh;
  background-color: #33373d;
  height: 50px;
  position: absolute;
  z-index: 100;
}

.tnt_tree_node {
  cursor: default;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.tnt_zmenu_clickable {
  cursor: pointer;
}

/* .tooltipContainer {
  position: relative;
  height: 1px;
} */

/* .btn-group-vertical {
  position: absolute;
  width: 150px;
  background-color: rgba(210, 118, 118, 0.00);
  z-index: 50;
} */

.tnt_groupDiv {
  margin: auto;
}

#tnt_tooltip_1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  cursor: default;
}

#treeBox {
  cursor: move;
}

#brand {
  position: absolute;
  text-align: center;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#stringInput {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 1;
}

#fileFormLabel {
  position:absolute;
  left:50%;
  top:50%;
  width: 150px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  background-color: #33373d;
  border-color: #33373d;
  color: #FF6A13;

  cursor: pointer;
}

#branchWidthInput {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 1;
}

#colorPicker {
  position:absolute;
  left:50%;
  top:50%;
  width: 300px;
  height: 40px;

  margin-left: -150px;
  margin-top: -20px;

  opacity: 1;
}