.maindiv {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  /*cursor: move;*/
}

.settingsbutton {
  margin-top: 10px;
}

.verticalradialbuttons {
  margin-top: 0px;
}

.fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 40px;
}

#treeBox {
  border: 3px solid lightgray;
  height: 70vh;
  width: 60vw;
  margin: 10px auto;
}

.navbar {
  margin-top: 10vh;
  background-color: #33373d;
  height: 50px;
}

.navbar-brand {
  position: absolute;
  right: 10px;
}